body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #333;
  font: normal normal normal 28px/40px 'Microsoft YaHei', Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz--tap-highlight-color: rgba(0, 0, 0, 0);
  -o--tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  border: 0;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
select {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
  cursor: pointer;
}
body {
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}
.clearFix:after {
  content: " ";
  display: table;
  clear: both;
}
.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
p {
  max-height: 999999px!important;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: #fff;
}
#container {
  position: relative;
  width: 100%;
  height: 100%;
}
#container .header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 80px;
  padding: 18px 0;
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
}
#container .header:after {
  content: " ";
  display: table;
  clear: both;
}
#container .header .logo {
  float: left;
  margin-left: 30px;
}
#container .header .nav-wra {
  float: right;
}
#container .header .nav-wra .nav-btn {
  margin-right: 30px;
}
#container .header .nav-wra .nav-btn .nav-img {
  display: none;
}
#container .header .nav-wra .nav-btn .old-img {
  display: block;
  padding-top: 8px;
}
#container .header .nav-wra .nav-btn .new-img {
  display: none;
  font-size: 40px;
  color: #fff;
}
#container .header .nav-list {
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 1;
  width: 90%;
  color: #999999;
  background-color: #333333;
  padding: 0 5%;
  padding-bottom: 60px;
  display: none;
}
#container .header .nav-list .nav-item {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  padding: 0 2%;
  border-bottom: 1px solid #666666;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
#container .header .nav-list .nav-item .nav-right {
  display: block;
  width: 15px;
  height: 50px;
  margin-top: 5px;
}
#container .header .nav-list .nav-item .nav-right img {
  width: 100%;
}
#container .content {
  position: relative;
  width: 100%;
}
#container .content .content-banner img {
  display: block;
  width: 100%;
  height: 500px;
}
#container .content .content-nav {
  width: 100%;
}
#container .content .content-nav ul {
  display: flex;
  text-align: center;
  overflow: hidden;
}
#container .content .content-nav ul li {
  width: 25%;
  font-size: 20px;
  border: #3176eb 1px solid;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #3176eb;
  font-weight: bolder;
  box-shadow: 0px 10px 10px -4px #dddddd;
}
#container .content .content-nav ul li img {
  margin-right: 5px;
}
#container .content .content-nav ul li:first-child {
  background: #3176eb;
  color: #fff;
}
#container .content .content-one {
  width: 100%;
}
#container .content .content-one .content-one-img {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 10px;
}
#container .content .content-one .content-one-nav {
  font-size: 18px;
  text-align: center;
  font-weight: bolder;
  margin-bottom: 40px;
}
#container .content .content-one .content-one-list {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}
#container .content .content-one .content-one-list ul {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
}
#container .content .content-one .content-one-list ul li {
  width: 50%;
  background: url(../phoneimages/2_65.png) no-repeat;
  background-size: 100% 100%;
  height: 220px;
  width: 274px;
  margin-left: 30px;
  margin-bottom: 40px;
}
#container .content .content-one .content-one-list ul li h3 {
  margin-top: 10px;
}
#container .content .content-one .content-one-list ul li strong {
  margin-top: 10px;
  font-size: 18px;
}
#container .content .content-one .content-one-list ul li .content-one-list-item {
  width: 248px;
  margin: auto;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  height: 110px;
  overflow: hidden;
}
#container .content .content-one .content-one-list ul li .content-one-list-item div {
  border: #71a0f2 solid 1px;
  border-radius: 15px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  height: 24px;
  line-height: 24px;
  margin-top: 10px;
  color: #666;
  margin-left: 10px;
}
#container .content .content-one .content-one-list ul li .content-one-list-item span {
  display: block;
  border: #71a0f2 solid 1px;
  border-radius: 15px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  height: 24px;
  line-height: 24px;
  margin-top: 10px;
  color: #666;
  margin-left: 10px;
}
#container .content .content-two {
  background: #3176eb;
  position: relative;
}
#container .content .content-two .content-two-header {
  padding-top: 70px;
  text-align: center;
}
#container .content .content-two .content-two-con {
  padding-top: 10px;
  margin-left: 55px;
  margin-right: 55px;
  font-size: 18px;
  font-weight: bolder;
  color: #fff;
}
#container .content .content-two .content-two-img {
  margin-top: 30px;
}
#container .content .content-two a {
  position: absolute;
  right: 40px;
  bottom: 30px;
  color: #fff;
  border-bottom: 1px #fff solid;
  font-size: 26px;
}
#container .content .content-three {
  margin-top: 70px;
}
#container .content .content-three .content-three-header {
  text-align: center;
}
#container .content .content-three .content-three-header div {
  font-size: 18px;
  font-weight: bolder;
}
#container .content .content-three .content-three-img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 60px;
}
#container .content .content-three .content-three-img ul {
  display: flex;
  flex-wrap: wrap;
}
#container .content .content-three .content-three-img ul li:first-child {
  margin-left: 26.5px;
}
#container .content .content-three .content-three-img ul li:nth-child(2) {
  margin-left: 10px;
}
#container .content .content-three .content-three-img ul li:nth-child(3) {
  margin-left: 10px;
}
#container .content .content-four {
  background: #3176eb;
  position: relative;
}
#container .content .content-four .content-four-header {
  text-align: center;
  padding-top: 70px;
}
#container .content .content-four .content-four-con {
  margin-left: 50px;
  margin-right: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
}
#container .content .content-four .content-four-img {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 65px;
}
#container .content .content-four a {
  position: absolute;
  right: 40px;
  bottom: 30px;
  color: #fff;
  border-bottom: 1px #fff solid;
  font-size: 26px;
}
#container .content .content-five {
  position: relative;
}
#container .content .content-five .content-five-header {
  text-align: center;
  padding-top: 70px;
}
#container .content .content-five .content-five-con {
  margin-left: 50px;
  margin-right: 40px;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
}
#container .content .content-five .content-five-img {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 150px;
}
#container .content .content-five a {
  position: absolute;
  right: 40px;
  bottom: 60px;
  color: #3176eb;
  border-bottom: 1px #3176eb solid;
  font-size: 26px;
}
#container .footer {
  position: relative;
}
#container .footer .data-table {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -236px;
}
#container .footer img {
  display: block;
}
#container .tab {
  display: flex;
  width: 100%;
  background: #3178ea;
}
#container .tab .tab-item {
  flex: 1;
  padding: 15px 0;
}
#container .tab .tab-item img {
  display: block;
  width: 170px;
  margin: 0 auto;
}
#container .wechat-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.8);
}
#container .wechat-mask .wechat-img {
  position: absolute;
  top: 35%;
  left: 23%;
  width: 54%;
}
