body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #333;
  font: normal normal normal 28px/40px 'Microsoft YaHei', Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz--tap-highlight-color: rgba(0, 0, 0, 0);
  -o--tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  border: 0;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
select {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
  cursor: pointer;
}
body {
  max-width: 768px;
  margin: 0 auto;
  position: relative;
}
.clearFix:after {
  content: " ";
  display: table;
  clear: both;
}
.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
p {
  max-height: 999999px!important;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: #fff;
}
#container {
  position: relative;
  width: 100%;
  height: 100%;
}
#container .header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100%;
  height: 80px;
  padding: 18px 0;
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
}
#container .header:after {
  content: " ";
  display: table;
  clear: both;
}
#container .header .logo {
  float: left;
  margin-left: 30px;
}
#container .header .nav-wra {
  float: right;
}
#container .header .nav-wra .nav-btn {
  margin-right: 30px;
}
#container .header .nav-wra .nav-btn .nav-img {
  display: none;
}
#container .header .nav-wra .nav-btn .old-img {
  display: block;
  padding-top: 8px;
}
#container .header .nav-wra .nav-btn .new-img {
  display: none;
  font-size: 40px;
  color: #fff;
}
#container .header .nav-list {
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 1;
  width: 90%;
  color: #999999;
  background-color: #333333;
  padding: 0 5%;
  padding-bottom: 60px;
  display: none;
}
#container .header .nav-list .nav-item {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  padding: 0 2%;
  border-bottom: 1px solid #666666;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
#container .header .nav-list .nav-item .nav-right {
  display: block;
  width: 15px;
  height: 50px;
  margin-top: 5px;
}
#container .header .nav-list .nav-item .nav-right img {
  width: 100%;
}
#container .content {
  position: relative;
  width: 100%;
}
#container .content .content-banner img {
  width: 100%;
  height: 500px;
}
#container .content .content-nav {
  width: 100%;
}
#container .content .content-nav ul {
  display: flex;
  text-align: center;
  overflow: hidden;
}
#container .content .content-nav ul li {
  width: 25%;
  font-size: 20px;
  border: #3176eb 1px solid;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #3176eb;
  font-weight: bolder;
  box-shadow: 0px 10px 10px -4px #dddddd;
}
#container .content .content-nav ul li img {
  margin-right: 5px;
}
#container .content .content-nav ul li:nth-child(3) {
  background: #3176eb;
  color: #fff;
}
#container .footer {
  background: #3176eb ;
}
#container .footer .footer-header {
  text-align: center;
  padding-top: 70px;
}
#container .footer .footer-con {
  padding: 60px;
  font-size: 24px;
  color: #FFFFFF;
}
#container .footer .footer-img {
  text-align: center;
  padding-bottom: 60px;
}
#container .info-two {
  position: relative;
  width: 100%;
}
#container .info-two .module {
  position: relative;
  width: 100%;
}
#container .info-two .module-one {
  display: flex;
  padding: 50px 0 56px 0;
  align-items: center;
  background: #3176eb;
}
#container .info-two .module-one .module-left img {
  display: block;
  width: 182px;
}
#container .info-two .module-one .module-right {
  margin-left: 16px;
}
#container .info-two .module-one .module-right .right-item {
  margin-bottom: 24px;
  font-size: 18px;
  color: #fff;
  line-height: 24px;
}
#container .info-two .module-one .module-right .right-item:last-child {
  margin-bottom: 0;
}
#container .info-two .module-two {
  padding-top: 60px;
}
#container .info-two .module-two .module-title {
  display: block;
  margin: 0 auto;
}
#container .info-two .module-two .module-dec {
  position: relative;
  width: 600px;
  margin: 30px auto 0 auto;
}
#container .info-two .module-two .module-dec .dec-bg {
  display: block;
  width: 600px;
  margin: 0 auto;
}
#container .info-two .module-two .module-dec .list {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 600px;
  padding: 0 8px 0 10px;
  box-sizing: border-box;
}
#container .info-two .module-two .module-dec .list:after {
  content: " ";
  display: table;
  clear: both;
}
#container .info-two .module-two .module-dec .list .item {
  float: left;
  width: 280px;
  height: 322px;
  padding-top: 108px;
  box-sizing: border-box;
}
#container .info-two .module-two .module-dec .list .item:nth-of-type(2) {
  margin-left: 22px;
}
#container .info-two .module-two .module-dec .list .item:nth-of-type(3) {
  position: absolute;
  left: 50%;
  top: 266px;
  z-index: 1;
  margin-left: -140px;
}
#container .info-two .module-two .module-dec .list .item:nth-of-type(4) {
  margin: 214px 0 0 0;
}
#container .info-two .module-two .module-dec .list .item:nth-of-type(5) {
  margin: 214px 0 0 22px;
}
#container .info-two .module-two .module-dec .list .item .item-title {
  width: 98px;
  height: 28px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  color: #3176eb;
  line-height: 28px;
  font-weight: bold;
  border: 1px solid #3176eb;
  border-radius: 8px;
}
#container .info-two .module-two .module-dec .list .item .item-dec:after {
  content: " ";
  display: table;
  clear: both;
}
#container .info-two .module-two .module-dec .list .item .item-dec .item-child {
  float: left;
  padding-top: 13px;
  font-size: 20px;
  color: #000;
  text-align: center;
  line-height: 20px;
}
#container .info-two .module-two .module-dec .list .item .item-dec .item-child:nth-of-type(odd) {
  margin-left: 40px;
}
#container .info-two .module-two .module-dec .list .item .item-dec .item-child:nth-of-type(even) {
  float: right;
  margin-right: 40px;
}
#container .info-two .module-three {
  padding: 70px 0 60px 0;
  background: #3176eb;
}
#container .info-two .module-three .module-title {
  display: block;
  margin: 0 auto;
}
#container .info-two .module-three .module-dec {
  position: relative;
  width: 598px;
  margin: 38px auto 0 auto;
}
#container .info-two .module-three .module-dec .dec-bg {
  width: 100%;
}
#container .info-two .module-three .module-dec .list {
  position: absolute;
  left: 6px;
  top: 0;
  z-index: 1;
  width: 586px;
  height: 100%;
  box-sizing: border-box;
}
#container .info-two .module-three .module-dec .list .item {
  position: absolute;
  z-index: 1;
  width: 108px;
  padding-top: 28px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 21px;
}
#container .info-two .module-three .module-dec .list .item:nth-of-type(1) {
  left: 0;
  top: 126px;
}
#container .info-two .module-three .module-dec .list .item:nth-of-type(2) {
  left: 57px;
  top: 50px;
}
#container .info-two .module-three .module-dec .list .item:nth-of-type(3) {
  left: 169px;
  top: 0;
}
#container .info-two .module-three .module-dec .list .item:nth-of-type(4) {
  left: 305px;
  top: 0;
}
#container .info-two .module-three .module-dec .list .item:nth-of-type(5) {
  left: 422px;
  top: 50px;
}
#container .info-two .module-three .module-dec .list .item:nth-of-type(6) {
  left: 474px;
  top: 126px;
}
#container .info-two .module-three .module-dec .list .item:nth-of-type(7) {
  left: 426px;
  top: 216px;
}
#container .info-two .module-three .module-dec .list .item:nth-of-type(8) {
  left: 336px;
  top: 270px;
}
#container .info-two .module-three .module-dec .list .item:nth-of-type(9) {
  left: 230px;
  top: 300px;
}
#container .info-two .module-three .module-dec .list .item:nth-of-type(10) {
  left: 122px;
  top: 270px;
}
#container .info-two .module-three .module-dec .list .item:nth-of-type(11) {
  left: 33px;
  top: 216px;
}
#container .info-two .module4 {
  padding: 70px 0 64px 0;
}
#container .info-two .module4 .module-title {
  display: block;
  margin: 0 auto;
}
#container .info-two .module4 .module-dec {
  position: relative;
  margin: 32px auto 0 auto;
}
#container .info-two .module4 .module-dec .list {
  width: 586px;
  margin: 0 auto;
}
#container .info-two .module4 .module-dec .list:after {
  content: " ";
  display: table;
  clear: both;
}
#container .info-two .module4 .module-dec .list .item {
  float: left;
  width: 120px;
  margin-left: 111px;
}
#container .info-two .module4 .module-dec .list .item:nth-of-type(3n+1) {
  margin-left: 0;
}
#container .info-two .module4 .module-dec .list .item img {
  display: block;
  width: 100%;
}
#container .info-two .module4 .module-dec .list .item .text {
  font-size: 20px;
  color: #3176eb;
  font-weight: bold;
  text-align: center;
}
#container .info-two .module5 {
  padding: 70px 0 60px 0;
  background: #3176eb;
}
#container .info-two .module5 .module-title {
  display: block;
  margin: 0 auto;
}
#container .info-two .module5 .module-dec {
  position: relative;
  width: 608px;
  margin: 36px auto 0 auto;
}
#container .info-two .module5 .module-dec .dec-bg {
  width: 100%;
}
#container .info-two .module5 .module-dec .list {
  display: flex;
  width: 100%;
  margin: -90px auto 0 auto;
}
#container .info-two .module5 .module-dec .list .item {
  flex: 1;
  color: #fff;
  text-align: center;
}
#container .info-two .module5 .module-dec .list .item .item-title {
  font-size: 26px;
  font-weight: bold;
  line-height: 26px;
}
#container .info-two .module5 .module-dec .list .item .child-title {
  margin-top: 20px;
  font-size: 22px;
  line-height: 22px;
}
#container .info-two .module5 .module-dec .list .item .child-list {
  margin-top: 20px;
}
#container .info-two .module5 .module-dec .list .item .child-list .child-item {
  margin-bottom: 12px;
  font-size: 19px;
  line-height: 19px;
}
#container .info-two .module6 .module-title {
  display: block;
  padding: 60px 0 42px 0;
  margin: 0 auto;
}
#container .info-two .module6 .module-dec {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 56px 0 54px 0;
  background: #174fae;
}
#container .info-two .module6 .module-dec .dec-bg {
  display: block;
  width: 566px;
  margin: 0 auto;
}
#container .info-two .module6 .module-dec .icon-wra {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 1;
  width: 566px;
  margin-left: -283px;
}
#container .info-two .module6 .module-dec .icon-wra .icon-text {
  position: absolute;
  z-index: 1;
  width: 100px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}
#container .info-two .module6 .module-dec .icon-wra .icon-text1 {
  left: 32px;
  top: 120px;
}
#container .info-two .module6 .module-dec .icon-wra .icon-text2 {
  left: 360px;
  top: 106px;
}
#container .info-two .module6 .module-dec .icon-wra .icon-text3 {
  left: 122px;
  top: 255px;
}
#container .info-two .module6 .module-dec .icon-wra .icon-text4 {
  left: 431px;
  top: 230px;
}
#container .info-two .module6 .module-dec .list {
  width: 100%;
  margin: 36px auto 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}
#container .info-two .module6 .module-dec .list:after {
  content: " ";
  display: table;
  clear: both;
}
#container .info-two .module6 .module-dec .list .item {
  float: left;
  width: 40%;
  margin-bottom: 20px;
}
#container .info-two .module6 .module-dec .list .item:nth-of-type(2n) {
  float: right;
}
#container .info-two .module6 .module-dec .list .item .item-title {
  width: 160px;
  height: 40px;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background: #3176eb;
}
#container .info-two .module6 .module-dec .list .item .child-title {
  margin-top: 12px;
  font-size: 18px;
  line-height: 40px;
  color: #73a3f8;
}
