
@import "common/reset";

@green: #7ec61c;
@333: #333;
@666: #666;
@white: #fff;
@blue: #3176eb;

html,body {
	width: 100%;
	height: 100%;
}

body {
	background: @white;
}

#container {
	position: relative;

	width: 100%;
	height: 100%;

	.header {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 99;

		width: 100%;
		height: 80px;
		padding: 18px 0;

		background: rgba(0,0,0,.6);

		box-sizing: border-box;

		.clearFix();

		.logo {
			float: left;

			margin-left: 30px;
		}

		.nav-wra {
			float: right;

			.nav-btn {
				padding-top: 8px;
				margin-right: 30px;

				.nav-img {
					display: none;
				}

				.old-img {
					display: block;
				}
			}
		}

		.nav-list {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;

			display: none;

			width: 100%;
		}
	}

	.content {
		position: relative;
		width: 100%;

		.content-banner {
			position: relative;

			img {
				display: block;
				width: 100%;
				height: 500px;
			}

			.banner-text {
				position: absolute;
				left: 10%;
				bottom: 76px;
				z-index: 1;

				width: 80%;
				height: 94px;

				line-height: 94px;
				text-align: center;
				font-size: 46px;
				color: #fff;
				font-weight: 500;

				background: rgba(0,0,0,.5);

			}
		}

		.tab-list {
			display: flex;

			margin: 18px auto;

			.tab-item {
				flex: 1;

				font-size: 24px;
				text-align: center;
				line-height: 80px;
				color: #000;

				background: #f2f2f2;

				border-left: 1px solid #cccccc;

				box-sizing: border-box;

				&:first-child {
					border-left: none;
				}
			}

			.active {
				color: #fff;

				background: @blue;
			}
		}

		.info {
			width: 100%;
			margin-top: 20px;

			.info-top {
				display: flex;

				padding: 40px 20px 100px 20px;

				background: #f5f5f5;

				.info-left {
					width: 315px;

					.info-img {
						display: block;

						width: 315px;
						height: 175px;
					}

					.info-service {
						margin-top: 14px;

						.service-title {
							padding-left: 8px;

							line-height: 24px;
							font-size: 24px;
							color: #000;

							border-left: 8px solid @blue;
						}

						.service-dec {
							margin-top: 8px;

							font-size: 22px;
							color: #666;
						}
					}
				}

				.info-right {
					position: relative;

					flex: 1;

					margin-left: 26px;

					.info-title {
						margin-right: 97px;

						font-size: 26px;
						font-weight: bold;
						line-height: 40px;
						color: #000;
					}

					.border {
						width: 30px;
						margin-top: 10px;

						border-top: 1px solid #cccccc;
					}

					.info-dec {
						margin-top: 10px;

						font-size: 22px;
						line-height: 32px;
						color: #666;
					}

					.prev-btn,
					.next-btn {
						position: absolute;
						top: 0;
						z-index: 1;

						font-size: 36px;
						line-height: 36px;
						color: @blue;
					}

					.prev-btn {
						right: 64px;
					}

					.next-btn {
						top: -3px;
						right: 0;

						-webkit-transform: rotate(180deg);
					}

				}
			}

			.info-bottom {
				padding: 40px 20px;
			}

			.btn-wra {
				width: 400px;
				margin: 0 auto 36px auto;

				.clearFix();

				.btn {
					float: left;

					width: 160px;
					height: 48px;

					line-height: 48px;
					text-align: center;
					color: @blue;
					font-size: 22px;
					font-weight: bold;

					border: 1px solid @blue;

					&:last-child {
						float: right;
					}
				}
			}
		}
	}
}
