@import "common/reset";

@green: #7ec61c;
@333: #333;
@666: #666;
@white: #fff;

html,body {
	width: 100%;
	height: 100%;
}

body {
	background: @white;
}

#container {
	position: relative;

	width: 100%;
	height: 100%;

	.header {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 99;
	
		width: 100%;
		height: 80px;
		padding: 18px 0;
	
		background: rgba(0,0,0,.6);
	
		box-sizing: border-box;
	
		.clearFix();
	
		.logo {
			float: left;
	
			margin-left: 30px;
		}
	
		.nav-wra {
			float: right;
	
			.nav-btn {
				margin-right: 30px;
	
				.nav-img {
					display: none;
				}
	
				.old-img {
					display: block;
					padding-top: 8px;
				}
				
				.new-img {
					display: none;
					font-size: 60px;
					color: #fff;
				}
			}
		}
	
		.nav-list {
			position: absolute;
			left: 0;
			top: 80px;
			z-index: 1;
	
			width: 90%;
			color: #999999;
			background-color: #333333;
			padding: 0 5%;
			padding-bottom: 60px;
			
			display: none;
			
			.nav-item{
				width: 100%;
				height: 60px;
				line-height: 60px;
				font-size: 24px;
				
				padding: 0 2%;
				border-bottom: 1px solid #666666;
				
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				box-sizing: border-box;
	
				.nav-right{
					display: block;
					width: 15px;
					height: 50px;
					margin-top: 5px;
					
					img{
						width: 100%;
					}
				}
			}
		}
	}

	.content {
		position: relative;
		width: 100%;
		
		.content-banner {
			img {			
				width: 100%;
				height: 500px;
			}
		}

		.content-nav{
			width: 100%;
			
			ul{				
				display: flex;
				text-align: center;
				overflow: hidden;
				// flex-wrap: wrap;
				li{
					width: 25%;
					font-size: 20px;
					border: #3176eb 1px solid;
					margin-top: 30px;
					margin-bottom: 30px;
					color: #3176eb;
					font-weight: bolder;
					box-shadow: 0px 10px 10px -4px #dddddd;
					
					img {
						margin-right: 5px;
					}
				}
				li:nth-child(2)	{
					background: #3176eb;
					color: @white
				}
			}
			
		}

		.content-one {
			position: relative;

			width: 100%;
			background: #3176eb;

			.content-one-img {
				text-align: center;
				
				padding-top: 80px;
				padding-bottom: 90px;
			}

			.content-one-text {
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;

				width: 100%;
				height: 100%;

				.item {
					position: absolute;
					z-index: 1;

					width: 82px;

					font-size: 20px;
					color: #fff;
					line-height: 28px;
					text-align: center;
				}

				.item:nth-of-type(1) {
					left: 32px;
					top: 170px;
				}

				.item:nth-of-type(2) {
					left: 198px;
					top: 170px;
				}

				.item:nth-of-type(3) {
					left: 198+166px;
					top: 170px;
				}

				.item:nth-of-type(4) {
					left: 198+166+166px;
					top: 170px;
				}

				.item:nth-of-type(5) {
					left: 32px;
					top: 390px;
				}

				.item:nth-of-type(6) {
					left: 198px;
					top: 390px;
				}

				.item:nth-of-type(7) {
					left: 198+166px;
					top: 390px;
				}

				.item:nth-of-type(8) {
					left: 198+166+166px;
					top: 390px;
				}
			}
		}

		.content-two{
			position: relative;
			.content-two-header{
				padding-top: 70px;
				text-align: center;
			}
			
			.content-two-img{
				padding-top: 60px;

				ul{
					display: flex;
					flex-wrap: wrap;
					overflow: hidden;

					li{
						padding-bottom: 14px;

						img{
							display: block;

							width: 204px;
						}
					}

					li:nth-child(3n-1){
						padding-left: 14px;
					}

					li:nth-child(3n){
						padding-left: 14px;
					}
				}
			}				
		}
		
		.content-three{
			background: #3176eb;
			margin-top: 60px;
			position: relative;
			
			.content-three-header{
				text-align: center;
				padding-top: 80px;
				
				img:nth-child(2){
					position: absolute;
					top: 33%;
					left: 50%;
				}
			}
			
			.content-three-img{
				width: 100%;
				padding-top: 30px;
				padding-bottom: 70px;
				ul{
					display: flex;
					flex-wrap: wrap;
					
					li:first-child{
					 margin-left: 26.5px;
					}
					li:nth-child(2){
						margin-left: 10px;
					}
					li:nth-child(3){
						margin-left: 10px;
					}
				}
				
			}
		}
		.content-four{
			position: relative;
			
			.content-four-header{
				text-align: center;
				padding-top: 70px;				
			}
					
			.content-four-img{
				text-align: center;
			}
			
		}

		.content-five{
			position: relative;
			background: #3176eb;
			
			.content-five-header{
				text-align: center;
				padding-top: 70px;				
			}
			
			
			.content-five-img{
				text-align: center;
				padding-top: 30px;
				padding-bottom: 110px;
			}
			
		}
		
		.content-six{
			position: relative;
			
			.content-six-header{
				text-align: center;
				padding-top: 70px;				
			}
			
			
			.content-six-img{
				text-align: center;
				padding-top: 30px;
				padding-bottom: 30px;
			}
			
			.content-six-con{
				padding-bottom: 80px;
				
				ul{
					list-style: outside;
					padding-left: 90px;
					padding-right: 60px;
					
					li{
						color:#3176eb ;
						span{
							color: #666;
							font-size: 24px;
						}
					}
				}
			}
			
		}
	}
	
	
	.footer{
		background:#3176eb ;
			.footer-header{
				text-align: center;
				padding-top: 70px;				
			}
			
			.footer-con{
				padding: 60px;
				
				text-align: center;
				font-size: 18px;
				color:#FFFFFF;
			}			
			.footer-img{
				text-align: center;
				padding-bottom: 60px;
			}
			
		
	}

}
