<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=640, user-scalable=no">
	<title>二维码追溯</title>
	<link rel="stylesheet" href="../scripts/plugins/swiper/swiper-3.3.1.min.css">
	<link rel="stylesheet" href="../css/ewmzs.css">
</head>

<body>

	<div id="container">

		<!--头部-->
		<!--头部-->
		<div class="header">
			<img class="logo" src="../images/1_1.png" alt="">
			<div class="nav-wra">
				<div class="nav-btn">
					<img class="nav-img old-img" src="../images/1_2.png" alt="">
					<div class="nav-img new-img">×</div>
				</div>
			</div>
			<div class="nav-list">
				<a href="sczs.html">
					<div class="nav-item">
						<span class="nav-text">追溯系统</span>
						<span class="nav-right"><img src="../images/7_3.png"></span>
					</div>
				</a>
				<a href="zhyx.html">
					<div class="nav-item">
						<span class="nav-text">智慧营销</span>
						<span class="nav-right"><img src="../images/7_3.png"></span>
					</div>
				</a>

				<a href="caseList.html">
					<div class="nav-item">
						<span class="nav-text">客户案例</span>
						<span class="nav-right"><img src="../images/7_3.png"></span>
					</div>
				</a>

				<a href="solution.html">
					<div class="nav-item">
						<span class="nav-text">解决方案</span>
						<span class="nav-right"><img src="../images/7_3.png"></span>
					</div>
				</a>

				<a href="news.html">
					<div class="nav-item">
						<span class="nav-text">新闻资讯</span>
						<span class="nav-right"><img src="../images/7_3.png"></span>
					</div>
				</a>

				<a href="aboutUs.html">
					<div class="nav-item">
						<span class="nav-text">关于我们</span>
						<span class="nav-right"><img src="../images/7_3.png"></span>
					</div>
				</a>

			</div>
		</div>

		<!--主体-->
		<div class="content">
			<div class="content-banner">
				<img src="../images/2_63.png" />
			</div>

			<div class="content-nav">
				<ul>
					<li><a href="ewmzs.html"><img src="../images/2_2.png">二维码追溯</a></li>
					<li><a href="sczs.html"><img src="../images/2_5.png">生产追溯系统</a></li>
					<li><a href="qdlt.html"><img src="../images/2_6.png">渠道流通管理</a></li>
					<li><a href="fch.html"><img src="../images/2_8.png">防窜货</a></li>
				</ul>
			</div>

			<div class="content-one">
				<div class="content-one-img">
					<img src="../images/2_64.png">
				</div>
				<div class="content-one-nav">
					全流程、全品类、全用户群体、全应用场景对产品追踪溯源
				</div>
				<div class="content-one-list">
					<ul>
						<li>
							<h3>01</h3>
							<strong class="content-one-list-nav">各应用场景</strong>
							<div class="content-one-list-item" style="justify-content: center;">
								<div>生产</div>
								<div style="margin: 10px 15px 0 25px;">包装</div>
								<div>码垛</div>
								<div>入库</div>
								<div style="margin: 10px 15px 0 25px;">出库</div>
								<div>流通</div>
								<div>门店</div>
								<div>促销员</div>
								<div>消费者</div>
							</div>
						</li>
						<li>
							<h3>02</h3>
							<strong class="content-one-list-nav">品类齐全</strong>
							<div class="content-one-list-item" style="justify-content: center;">
								<div>食品</div>
								<div>母婴</div>
								<div>农资</div>
								<div>医药设备</div>
								<div>酒水饮料</div>
								<div>生产制造</div>
								<div>美妆日化</div>
								<div>食品生鲜</div>
								<div>健康设备</div>
							</div>
						</li>
						<li>
							<h3>03</h3>
							<strong class="content-one-list-nav">产品应用</strong>
							<div class="content-one-list-item">
								<div>产品原料管理</div>
								<div>出入库管理</div>
								<div>生产质量管理</div>
								<div>防窜稽查</div>
								<div>渠道流通管理</div>

								<div>防伪溯源</div>
								<div>数据分析</div>
							</div>
						</li>
						<li>
							<h3>04</h3>
							<strong class="content-one-list-nav">各用户群体</strong>
							<div class="content-one-list-item" style="justify-content: center;width: 200px;">
								<div>企业</div>
								<div style="margin-left: 35px;">消费者</div>
								<div>渠道</div>
								<div style="margin-left: 35px;">监管方</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="content-two">
				<div class="content-two-header">
					<img src="../images/2_66.png">
				</div>
				<div class="content-two-con">
					各工位数据采集（记录每个产品生产日期、批号等信息,统计产量、耗材使用及人员工作量等重要信息）品、箱、垛码数据关联
				</div>
				<div class="content-two-img">
					<img src="../images/2_67.png">
					<a href="">查看详情>></a>
				</div>
			</div>

			<div class="content-three">
				<div class="content-three-header">
					<img src="../images/2_68.png">
					<div>
						多样化赋码方式，满足不同产品包装需求，低成本解决赋码难题
					</div>
				</div>
				<div class="content-three-img">
					<ul>
						<li><img src="../images/2_69.png"></li>
						<li><img src="../images/2_70.png"></li>
						<li><img src="../images/2_71.png"></li>
					</ul>

				</div>
			</div>

			<div class="content-four">

				<div class="content-four-header">
					<img src="../images/2_72.png">
				</div>

				<div class="content-four-con">
					从经销商到零售门店再到消费者，数据层层采集，渠道流通及时追踪<br>
					为渠道伙伴赋能，助其提升销售业绩<br>
				</div>

				<div class="content-four-img">
					<img src="../images/2_73.png">
				</div>

				<a href="qdlt.html">查看详情>></a>
			</div>

			<div class="content-five">

				<div class="content-five-header">
					<img src="../images/2_74.png">
				</div>

				<div class="content-five-con">
					窜货系统解决实时监控渠道流通的问题，省下大量为窜货管理<br>
					配备的人力物力，窜货控制规范企业利润、维护品牌形象
				</div>

				<div class="content-five-img">
					<img src="../images/2_75.png">
				</div>

				<a href="fch.html">查看详情>></a>
			</div>
		</div>
		<div class="footer">
			<img class="data-table" src="../images/2_76.png">
			<img src="../images/2_77.png">
		</div>


		<!--底部-->
		<div class="tab">
			<a class="tab-item item-wechat" href="javascript:;">
				<img src="https://h5.ebiaoji.com/letsunImage/phone/1_13.png" alt="">
			</a>
			<a class="tab-item" href="tel:13310858165">
				<img src="https://h5.ebiaoji.com/letsunImage/phone/1_12.png" alt="">
			</a>
		</div>

		<div class="wechat-mask">
			<img class="wechat-img" src="../images/wechat.jpg" />
		</div>
	</div>

	<script src="../scripts/lib/jquery-2.2.2.min.js"></script>
	<script src="../scripts/lib/config.js"></script>
	<script src="../scripts/lib/common.js"></script>
	<script src="../scripts/plugins/swiper/swiper-3.3.1.jquery.min.js"></script>
	<script src="../scripts/other/ewmzs.js"></script>

</body>

</html>