<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=640, user-scalable=no">
		<title>首页</title>
		<link rel="stylesheet" href="../scripts/plugins/swiper/swiper-3.3.1.min.css">
		<link rel="stylesheet" href="../css/index.css">
	</head>
	<body>

		<div class="container">

			<!--头部-->
			<div class="header">
				<img class="logo" src="../images/1_1.png" alt="">
				<div class="nav-wra">
					<div class="nav-btn">
						<img class="nav-img old-img" src="../images/1_2.png" alt="">
						<div class="nav-img new-img">×</div>
					</div>
				</div>
				<div class="nav-list">
					<div class="nav-item">
						<span class="nav-text">追溯系统</span>
						<span class="nav-right"><img src="../images/7_3.png"></span>
					</div>
					<div class="nav-item">
						<span class="nav-text">智慧营销</span>
						<span class="nav-right"><img src="../images/7_3.png"></span>
					</div>
					<div class="nav-item">
						<span class="nav-text">客户案例</span>
						<span class="nav-right"><img src="../images/7_3.png"></span>
					</div>
					<div class="nav-item">
						<span class="nav-text">解决方案</span>
						<span class="nav-right"><img src="../images/7_3.png"></span>
					</div>
					<div class="nav-item">
						<span class="nav-text">新闻资讯</span>
						<span class="nav-right"><img src="../images/7_3.png"></span>
					</div>
					<div class="nav-item">
						<span class="nav-text">关于我们</span>
						<span class="nav-right"><img src="../images/7_3.png"></span>
					</div>

				</div>
			</div>

			<!--主体-->
			<div class="content">

				<!--轮播图-->
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<img src="../images/1_4.png" alt="">
						</div>

						<div class="swiper-slide">
							<img src="../images/1_3.png" alt="">
						</div>

						<div class="swiper-slide">
							<img src="../images/1_5.png" alt="">
						</div>

						<div class="swiper-slide">
							<img src="../images/1_6.png" alt="">
						</div>

						<div class="swiper-slide">
							<img src="../images/1_7.png" alt="">
						</div>

					</div>
					<div class="swiper-pagination"></div>
				</div>

				<!--模块-->
				<div class="module-wra">

					<!-- 二维码追溯系统管理 -->
					<div class="module module1">
						<h3 class="module-title">二维码追溯系统管理</h3>
						<p class="module-child-title">通过一物一码，借助物联网技术和移动互联网技术，实现企业生+流通+销售的管理</p>
						<div class="module-list">
							<div class="module-item">
								<img class="module-img" src="../images/1_8.png" alt="">
								<div class="module-text">供应链溯源</div>
							</div>
							<div class="module-item">
								<img class="module-img" src="../images/1_9.png" alt="">
								<div class="module-text">产品质量追溯</div>
							</div>
							<div class="module-item">
								<img class="module-img" src="../images/1_10.png" alt="">
								<div class="module-text">均衡生产</div>
							</div>
							<div class="module-item">
								<img class="module-img" src="../images/1_11.png" alt="">
								<div class="module-text">防窜货管理</div>
							</div>
							<div class="module-item">
								<img class="module-img" src="../images/1_12.png" alt="">
								<div class="module-text">经销商业务管理</div>
							</div>
							<div class="module-item">
								<img class="module-img" src="../images/1_13.png" alt="">
								<div class="module-text">业务员绩效管理</div>
							</div>
							<div class="module-item">
								<img class="module-img" src="../images/1_14.png" alt="">
								<div class="module-text">智慧营销</div>
							</div>
							<div class="module-item">
								<img class="module-img" src="../images/1_15.png" alt="">
								<div class="module-text">查看详情</div>
							</div>
						</div>
					</div>


					<!-- 智慧营销 -->
					<div class="module module2">
						<h3 class="module-title">智慧营销</h3>
						<p class="module-child-title">通过一物一码，建立企业与销售员，品牌与消费者之间的互动营销场景</p>

						<!-- 选项卡 -->
						<div class="tab-wrap">
							<ul class="tab-title">
								<li class="active">
									<span>渠道营销</span>
									<img src="../images/1_18.png">
								</li>
								<li>
									<span>消费互动营销</span>
									<img src="../images/1_19.png">
								</li>
								<li>
									<span>CRM</span>
									<img src="../images/1_20.png">
								</li>
								<li>
									<span>大数据统计</span>
									<img src="../images/1_21.png">
								</li>
							</ul>

							<ul class="tab-content">
								<li>
									<img class="content-img" src="../images/1_28.png" alt="">
									<p>扫码数量统计</p>
									<p>会员粉丝统计</p>
									<p>营销费用统计</p>
									<p>业务员业绩统计</p>
									<p>销区销量实时统计</p>
									<p>窜货实时监控等</p>
									<p>让企业每一份营销费用都"精确到人，精准落地"</p>
									<div class="arrow">
										<img src="../images/1_16.png">
									</div>
								</li>
								<li>
									<img class="content-img" src="../images/1_29.png" alt="">
									<p>扫码数量统计</p>
									<p>会员粉丝统计</p>
									<p>营销费用统计</p>
									<p>业务员业绩统计</p>
									<p>销区销量实时统计</p>
									<p>窜货实时监控等</p>
									<p>让企业每一份营销费用都"精确到人，精准落地"</p>
									<div class="arrow">
										<img src="../images/1_16.png">
									</div>
								</li>
								<li>
									<img class="content-img" src="../images/1_30.png" alt="">
									<p>扫码数量统计</p>
									<p>会员粉丝统计</p>
									<p>营销费用统计</p>
									<p>业务员业绩统计</p>
									<p>销区销量实时统计</p>
									<p>窜货实时监控等</p>
									<p>让企业每一份营销费用都"精确到人，精准落地"</p>
									<div class="arrow">
										<img src="../images/1_16.png">
									</div>
								</li>
								<li>
									<img class="content-img" src="../images/1_31.png" alt="">
									<p>扫码数量统计</p>
									<p>会员粉丝统计</p>
									<p>营销费用统计</p>
									<p>业务员业绩统计</p>
									<p>销区销量实时统计</p>
									<p>窜货实时监控等</p>
									<p>让企业每一份营销费用都"精确到人，精准落地"</p>
									<div class="arrow">
										<img src="../images/1_16.png">
									</div>
								</li>

							</ul>
						</div>


						<!-- 实例图片 -->
						<ul class="demo-img-list">
							<li>
								<img src="../images/1_32.png">
								<p class="demo-img-content">东鹏饮料(集团)有限公司</p>
							</li>
							<li>
								<img src="../images/1_33.png">
								<p class="demo-img-content">东鹏饮料(集团)有限公司</p>
							</li>
							<li>
								<img src="../images/1_34.png">
								<p class="demo-img-content">东鹏饮料(集团)有限公司</p>
							</li>
							<li>
								<img src="../images/1_35.png">
								<p class="demo-img-content">东鹏饮料(集团)有限公司</p>
							</li>
							<li>
								<img src="../images/1_36.png">
								<p class="demo-img-content">东鹏饮料(集团)有限公司</p>
							</li>
							<li>
								<img src="../images/1_37.png">
								<p class="demo-img-content">东鹏饮料(集团)有限公司</p>
							</li>
							<li>
								<img src="../images/1_38.png">
								<p class="demo-img-content">东鹏饮料(集团)有限公司</p>
							</li>
							<li>
								<img src="../images/1_39.png">
								<p class="demo-img-content">东鹏饮料(集团)有限公司</p>
							</li>
							<li>
								<img src="../images/1_40.png">
								<p class="demo-img-content">东鹏饮料(集团)有限公司</p>
							</li>
							<li>
								<img src="../images/1_41.png">
								<p class="demo-img-content">东鹏饮料(集团)有限公司</p>
							</li>
							<li>
								<img src="../images/1_42.png">
								<p class="demo-img-content">东鹏饮料(集团)有限公司</p>
							</li>
							<li>
								<img src="../images/1_43.png">
								<p class="demo-img-content">东鹏饮料(集团)有限公司</p>
							</li>
							<li>
								<img src="../images/1_44.png">
								<p class="demo-img-content">东鹏饮料(集团)有限公司</p>
							</li>
							<li>
								<img src="../images/1_45.png">
								<p class="demo-img-content">东鹏饮料(集团)有限公司</p>
							</li>
						</ul>
					</div>


					<!-- 新闻动态 -->
					<div class="module module3">
						<h3 class="module-title">新闻动态</h3>

						<div class="news-tab">
							<div class="news-title">
								<img src="../images/1_46.png" class="title-icon1">
								<img src="../images/1_47.png" class="title-icon2">公司新闻
							</div>
							<div class="news-title active">
								<img src="../images/1_48.png" class="title-icon3">
								<img src="../images/1_49.png" class="title-icon4">
								行业动态
							</div>
						</div>

						<div class="news">
							<ul>
								<li>
									<h4 class="news-title">这里是新闻标题</h4>
									<p>广东华糖改造产线顺利完成！广东华糖改造产线顺利完成！广东华糖改造产线顺利完成！广东华糖改造产线顺利完成！</p>

									<div class="video-wrap">
										<video width="100%" height="240" controls="controls" class="video-player">
											<source src="http://www.w3school.com.cn/i/movie.ogg" type="video/ogg">
											<source src="http://www.w3school.com.cn/i/movie.mp4" type="video/mp4">
											Your browser does not support the video tag.
										</video>

										<div class="poster-wrap">
											<img src="../images/1_50.png" class="poster">
											<img src="../images/1_51.png" class="poster-btn">
										</div>
									</div>

									<p class="data-share">
										<span class="news-date">2018.12.26</span>
										<span class="times">3268人浏览</span>
										<span class="share"><img src="../images/1_52.png">分享</span>
									</p>
								</li>

								<li>
									<h4 class="news-title">这里是新闻标题</h4>
									<p class="news-content">广东华糖改造产线顺利完成！广东华糖改造产线顺利完成！广东华糖改造产线顺利完成！广东华糖改造产线顺利完成！</p>
									<img src="../images/1_53.png" class="news-img">
									<p class="data-share">
										<span class="news-date">2018.12.26</span>
										<span class="times">3268人浏览</span>
										<span class="share"><img src="../images/1_52.png">分享</span>
									</p>
								</li>

								<li>
									<h4 class="news-title">这里是新闻标题</h4>
									<p class="news-content">广东华糖改造产线顺利完成！广东华糖改造产线顺利完成！广东华糖改造产线顺利完成！广东华糖改造产线顺利完成！</p>
									<img src="../images/1_53.png" class="news-img">
									<p class="data-share">
										<span class="news-date">2018.12.26</span>
										<span class="times">3268人浏览</span>
										<span class="share"><img src="../images/1_52.png">分享</span>
									</p>
								</li>

							</ul>
						</div>


					</div>

				</div>
			</div>

			<!-- 底部 -->
			<div class="footer">
				<div class="footer-top">
					<img src="../images/1_54.png" class="footer-logo">
					<p>深圳市立信创源科技有限公司</p>
					<p>地址:深圳市宝安区F518时尚创意园F6西3楼</p>
					<p class="service-number">全国统一服务热线: 180-3309-5174 183-1904-9264</p>
					<p>E-mail:letsun@letsun.com.cn</p>
					<p><button type="button" class="apply-btn">申请试用</button></p>
				</div>

				<ul class="footer-list">
					<li><span>追溯系统</span><span>智慧营销</span></li>
					<li><span>客户案例</span><span>解决方案</span></li>
					<li><span>新闻资讯</span><span>关于我们</span></li>
				</ul>
				
				<p class="friend-link">
					友情链接: 网站建设 二维码防伪标签 东莞食堂承包网 天天头条 深圳商标注册 品牌营销 项目管理软件 SEO培训 离心脱泡机 彩超机 洗眼器 淘宝信誉查询 交通标志牌 派多源码交易网
				</p>
				
				<div class="copy-right">
					Copyright 2019年 深圳市立信创源科技有限公司 版权所有 粤ICP备13083109号
				</div>

			</div>
		</div>

		<script src="../scripts/lib/jquery-2.2.2.min.js"></script>
		<script src="../scripts/lib/config.js"></script>
		<script src="../scripts/lib/common.js"></script>
		<script src="../scripts/plugins/swiper/swiper-3.3.1.jquery.min.js"></script>
		<script src="../scripts/other/index.js"></script>
		<script>
			//右上角按钮切换
			$(".header .nav-wra .nav-btn").click(function() {
				$(".header .nav-wra .nav-btn .old-img").toggle();
				$(".header .nav-wra .nav-btn .new-img").toggle();
				$(".header .nav-list").slideToggle();
			});

			//banner
			var swiper = new Swiper('.swiper-container', {
				loop: true,
				autoplay: 2000,
				pagination: '.swiper-pagination',
			});


			//智慧营销选项卡
			$(".module2 .tab-wrap .tab-title li").click(function() {
				$(this).addClass("active").siblings().removeClass("active");
				$(".module2 .tab-wrap .tab-content li").hide().eq($(this).index()).show();
			});

			//新闻动态选项卡
			$(".module3 .news-tab .news-title").click(function() {
				$(this).addClass("active").siblings().removeClass("active");

				if ($(".module3 .news-tab .news-title").eq(0).hasClass("active")) {
					$(".module3 .news-tab .news-title .title-icon1").hide();
					$(".module3 .news-tab .news-title .title-icon2").show();
				} else {
					$(".module3 .news-tab .news-title .title-icon1").show();
					$(".module3 .news-tab .news-title .title-icon2").hide();
				}

				if ($(".module3 .news-tab .news-title").eq(1).hasClass("active")) {
					$(".module3 .news-tab .news-title .title-icon3").hide();
					$(".module3 .news-tab .news-title .title-icon4").show();
				} else {
					$(".module3 .news-tab .news-title .title-icon3").show();
					$(".module3 .news-tab .news-title .title-icon4").hide();
				}

			})

			//视频播放
			$(".poster-btn").click(function() {
				$(".poster-wrap").hide();
				$(".video-wrap .video-player").trigger("play");

				$(".video-wrap .video-player").on("ended", function() {
					$(".poster-wrap").show();
				})

			})
		</script>
	</body>
</html>
