<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=640, user-scalable=no">
		<title>首页</title>
		<link rel="stylesheet" href="../scripts/plugins/swiper/swiper-3.3.1.min.css">
		<link rel="stylesheet" href="../css/index.css">
	</head>
	<body>

		<div class="container">

			<!--头部-->
			<div class="header">
				<img class="logo" src="../images/1_1.png" alt="">
				<div class="nav-wra">
					<div class="nav-btn">
						<img class="nav-img old-img" src="../images/1_2.png" alt="">
						<div class="nav-img new-img">×</div>
					</div>
				</div>
				<div class="nav-list">
					<a href="sczs.html">
						<div class="nav-item">
							<span class="nav-text">追溯系统</span>
							<span class="nav-right"><img src="../images/7_3.png"></span>
						</div>
					</a>
					<a href="zhyx.html">
						<div class="nav-item">
							<span class="nav-text">智慧营销</span>
							<span class="nav-right"><img src="../images/7_3.png"></span>
						</div>
					</a>
					
					<a href="caseList.html">
						<div class="nav-item">
							<span class="nav-text">客户案例</span>
							<span class="nav-right"><img src="../images/7_3.png"></span>
						</div>
					</a>
					
					<a href="solution.html">
						<div class="nav-item">
							<span class="nav-text">解决方案</span>
							<span class="nav-right"><img src="../images/7_3.png"></span>
						</div>
					</a>
					
					<a href="news.html">
						<div class="nav-item">
							<span class="nav-text">新闻资讯</span>
							<span class="nav-right"><img src="../images/7_3.png"></span>
						</div>
					</a>
					
					<a href="aboutUs.html">
						<div class="nav-item">
							<span class="nav-text">关于我们</span>
							<span class="nav-right"><img src="../images/7_3.png"></span>
						</div>
					</a>
	
				</div>
			</div>

			<!--主体-->
			<div class="content">

				<!--轮播图-->
				<div class="swiper-container">
					<div class="swiper-wrapper">
						<!-- <div class="swiper-slide">
							<img src="../images/1_4.png" alt="">
						</div> -->
					</div>
					<div class="swiper-pagination"></div>
				</div>

				<!--模块-->
				<div class="module-wra">

					<!-- 二维码追溯系统管理 -->
					<div class="module module1">
						<h3 class="module-title">二维码追溯系统管理</h3>
						<p class="module-child-title">通过一物一码，借助物联网技术和移动互联网技术，实现企业生+流通+销售的管理</p>
						<div class="module-list">
							<div class="module-item">
								<img class="module-img" src="../images/1_8.png" alt="">
								<div class="module-text">供应链溯源</div>
							</div>
							<div class="module-item">
								<img class="module-img" src="../images/1_9.png" alt="">
								<div class="module-text">产品质量追溯</div>
							</div>
							<div class="module-item">
								<img class="module-img" src="../images/1_10.png" alt="">
								<div class="module-text">均衡生产</div>
							</div>
							<div class="module-item">
								<img class="module-img" src="../images/1_11.png" alt="">
								<div class="module-text">防窜货管理</div>
							</div>
							<div class="module-item">
								<img class="module-img" src="../images/1_12.png" alt="">
								<div class="module-text">经销商业务管理</div>
							</div>
							<div class="module-item">
								<img class="module-img" src="../images/1_13.png" alt="">
								<div class="module-text">业务员绩效管理</div>
							</div>
							<div class="module-item">
								<img class="module-img" src="../images/1_14.png" alt="">
								<div class="module-text">智慧营销</div>
							</div>
							<div class="module-item">
								<img class="module-img" src="../images/1_15.png" alt="">
								<div class="module-text">查看详情</div>
							</div>
						</div>
					</div>


					<!-- 智慧营销 -->
					<div class="module module2">
						<h3 class="module-title">智慧营销</h3>
						<p class="module-child-title">通过一物一码，建立企业与销售员，品牌与消费者之间的互动营销场景</p>

						<!-- 选项卡 -->
						<div class="tab-wrap">
							<ul class="tab-title">
								<li class="active">
									<span>渠道营销</span>
									<img src="../images/1_18.png">
								</li>
								<li>
									<span>消费互动营销</span>
									<img src="../images/1_19.png">
								</li>
								<li>
									<span>CRM</span>
									<img src="../images/1_20.png">
								</li>
								<li>
									<span>大数据统计</span>
									<img src="../images/1_21.png">
								</li>
							</ul>

							<ul class="tab-content">
								<li>
									<img class="content-img" src="../images/1_28.png" alt="">
									<p>店主：累计奖、开箱奖、达标奖、返利奖</p>
									<p>促销员：返利奖、达标奖、累计奖</p>
									<p>对不同的角色设置不同的返利促销活动，精准抓住不同角色的需求最大拉动渠道推销产品的积极性</p>
									<div class="arrow">
										<a href="zhyx.html"><img src="../images/1_16.png"></a>
									</div>
								</li>
								<li>
									<img class="content-img" src="../images/1_29.png" alt="">
									<p>活动设置：<br>活动时间、活动方式、奖品方式、中奖概率、活动区域等后台灵活设置、精准投放</p>
									<p>活动形式：<br>红包奖励，积分奖励，实物抽奖，裂变红包，游戏红包，传播游戏</p>
									<div class="arrow">
										<a href="zhyx.html"><img src="../images/1_16.png"></a>
									</div>
								</li>
								<li>
									<img class="content-img" src="../images/1_30.png" alt="">
									<p>分析：会员年龄、地区、性别、职业分布；产品、消费场景、活动、奖品偏好</p>
									<p>根据用户对商品扫码的时间、频率、数量进行分组，衡量用户对品牌方的价值</p>
									<p>
										①高价值用户：高频高额；<br>
										②潜在用户：高频低额；<br>
										③低频用户：低频高额；<br>
										④非活跃用户：低频低额
									</p>
									
									<div class="arrow">
										<a href="zhyx.html"><img src="../images/1_16.png"></a>
									</div>
								</li>
								<li>
									<img class="content-img" src="../images/1_31.png" alt="">
									<p>扫码数量统计</p>
									<p>会员粉丝统计</p>
									<p>营销费用统计</p>
									<p>业务员业绩统计</p>
									<p>销区销量实时统计</p>
									<p>窜货实时监控等</p>
									<p>让企业每一份营销费用都"精确到人，精准落地"</p>
									<div class="arrow">
										<a href="zhyx.html"><img src="../images/1_16.png"></a>
									</div>
								</li>

							</ul>
						</div>


						<!-- 实例图片 -->
						<ul class="demo-img-list">
							<!-- <li>
								<img src="../images/1_32.png">
								<p class="demo-img-content">东鹏饮料(集团)有限公司</p>
							</li>	 -->
						</ul>
					</div>


					<!-- 新闻动态 -->
					<div class="module module3">
						<h3 class="module-title">新闻动态</h3>

						<div class="news-tab">
							<div class="news-title">
								<img src="../images/1_46.png" class="title-icon1">
								<img src="../images/1_47.png" class="title-icon2">公司新闻
							</div>
							<div class="news-title active">
								<img src="../images/1_48.png" class="title-icon3">
								<img src="../images/1_49.png" class="title-icon4">
								行业动态
							</div>
						</div>

						<div class="news">
							<ul class="news-list">
							</ul>
						</div>

					</div>

				</div>
			</div>

			<!-- 底部 -->
			<div class="footer">
				<div class="footer-top">
					<img src="../images/1_54.png" class="footer-logo">
					<p>深圳市立信创源科技有限公司</p>
					<p>地址:深圳市宝安区F518时尚创意园F6西3楼</p>
					<p class="service-number">全国统一服务热线: 180-3309-5174 183-1904-9264</p>
					<p>E-mail:letsun@letsun.com.cn</p>
					<p><button type="button" class="apply-btn">申请试用</button></p>
				</div>

				<ul class="footer-list">
					<li><a href="sczs.html"><span>追溯系统</span></a><a href="zhyx.html"><span>智慧营销</span></a></li>
					<li><a href="caseList.html"><span>客户案例</span></a><a href="solution.html"><span>解决方案</span></a></li>
					<li><a href="news.html"><span>新闻资讯</span></a><a href="aboutUs.html"><span>关于我们</span></a></li>
				</ul>

				<p class="friend-link">
					友情链接: 网站建设 二维码防伪标签 东莞食堂承包网 天天头条 深圳商标注册 品牌营销 项目管理软件 SEO培训 离心脱泡机 彩超机 洗眼器 淘宝信誉查询 交通标志牌 派多源码交易网
				</p>

				<div class="copy-right">
					Copyright 2019年 深圳市立信创源科技有限公司 版权所有 粤ICP备13083109号
				</div>

			</div>

			<!--返回顶部-->
			<img class="backTop" id="backTop" src="https://h5.ebiaoji.com/letsunImage/phone/11/11_1.png" alt="">

			<!--底部-->
			<div class="tab">
				<a class="tab-item item-wechat" href="javascript:;">
					<img src="https://h5.ebiaoji.com/letsunImage/phone/1_13.png" alt="">
				</a>
				<a class="tab-item" href="tel:13310858165">
					<img src="https://h5.ebiaoji.com/letsunImage/phone/1_12.png" alt="">
				</a>
			</div>

			<div class="wechat-mask">
				<img class="wechat-img" src="../images/wechat.jpg" />
			</div>
			
			<!--需求表-->
			<div class="demand-win">
				<div class="demand-content">
					<div class="demand-title">Hi,Are you ready?</div>
					<div class="demand-child">准备好开始了吗？<br/>那就与我们取得联系吧！</div>
			
					<div class="text text1">有一个智慧营销，防伪溯源项目想和我们谈谈吗？您可以填写右边的表格，让我们了解您的项目需求，这是一个良好的
						开始，我们将会尽快与你取得联系。当然也缓凝您给我们写信或者打电话，让我们听到你的声音！</div>
			
					<div class="text text2">深圳市立信创源科技有限公司</div>
			
					<div class="list">
						<div class="item"><span class="span1">地址：</span><span class="span2">深圳市宝安区F518时尚创意园F6栋3楼301</span></div>
						<div class="item"><span class="span1">业务热线：</span><span class="span2">18033095174</span></div>
						<div class="item"><span class="span1">大客户专线：</span><span class="span2">18038071594</span></div>
						<div class="item"><span class="span1">售前QQ：</span><span class="span2">2710161486</span></div>
						<div class="item"><span class="span1">E-mail：</span><span class="span2">letsun@letsun.com.cn</span></div>
					</div>
			
					<div class="form">
						<div class="form-title">合作意向表</div>
			
						<div class="form-item">
							<input class="form-input company" type="text" placeholder="公司名称">
						</div>
			
						<div class="form-item">
							<input class="form-input email" type="text" placeholder="邮箱">
						</div>
			
						<div class="form-item">
							<input class="form-input form-other-input name" type="text" placeholder="姓名">
							<input class="form-input form-other-input mobile" maxlength="11" type="text" placeholder="电话">
						</div>
			
						<div class="text3">您希望</div>
						<div class="text4">我们为您提供什么服务？</div>
			
						<div class="select-list">
							<div class="select-item">生产追溯<br/>系统</div>
							<div class="select-item">渠道流通<br/>管理</div>
							<div class="select-item">产品防伪</div>
							<div class="select-item">防窜货<br/>系统</div>
							<div class="select-item">渠道营销</div>
							<div class="select-item">消费者促销<br/>活动</div>
							<div class="select-item">二维码<br/>分销系统</div>
							<div class="select-item">二维码<br/>管理系统</div>
						</div>
			
						<div class="check-wra">
							<div class="check-title">预算</div>
							<div class="check-list">
								<div class="check-item active">
									<div class="check-border">
										<div class="check-point"></div>
									</div>
									<div class="check-text">5万以下</div>
								</div>
								<div class="check-item">
									<div class="check-border">
										<div class="check-point"></div>
									</div>
									<div class="check-text">5-10万</div>
								</div>
								<div class="check-item">
									<div class="check-border">
										<div class="check-point"></div>
									</div>
									<div class="check-text">10万以上</div>
								</div>
								<div class="check-item">
									<div class="check-border">
										<div class="check-point"></div>
									</div>
									<div class="check-text">大型招标项目</div>
								</div>
							</div>
						</div>
			
						<div class="submit-btn">提交需求</div>
					</div>
			
					<img src="../images/4_6.png" alt="" class="close-demand">
				</div>
			</div>
			
		</div>

		<script src="../scripts/lib/jquery-2.2.2.min.js"></script>
		<script src="../scripts/lib/config.js"></script>
		<script src="../scripts/lib/backTop.js"></script>
		<script src="../scripts/lib/common.js"></script>
		<script src="../scripts/plugins/swiper/swiper-3.3.1.jquery.min.js"></script>
		<script src="../scripts/other/index.js"></script>
	</body>
</html>
