<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=640, user-scalable=no">
    <title></title>
    <link rel="stylesheet" href="../css/newsDetail.css">
</head>
<body>

<div id="container">

    <!--主体-->
    <div class="content">

        <!--顶部图片-->
        <div class="top-wra">
            <div class="top-img">
                <img src="../images/6_1.png" alt="">
            </div>
            <!-- <div class="search-wra">
                <div class="form-key">
                    <img class="search-img" src="../images/6_2.png" alt="">
                    <input type="text" class="form-input" id="searchVal" placeholder="输入您想了解的关键词">
                </div>
                <div class="form-btn" id="form-btn">搜索</div>
            </div> -->
        </div>

        <!-- 导航 -->
        <div class="navBar">
            <a class="nav-item active">
                <div class="nav-dec">
                    <div class="nav-img">
                        <img class="old-img" src="../images/1_46.png" alt="">
                        <img class="news-img" src="../images/1_47.png" alt="">
                    </div>
                    <div class="nav-text">公司新闻</div>
                </div>
            </a>
            <a class="nav-item">
                <div class="nav-dec">
                    <div class="nav-img">
                        <img class="old-img" src="../images/1_48.png" alt="">
                        <img class="news-img" src="../images/1_49.png" alt="">
                    </div>
                    <div class="nav-text">行业动态</div>
                </div>
            </a>
        </div>


        <div class="info">
            <div class="news-title"></div>

            <div class="news-bottom">
                <div class="news-time"></div>
                <div class="news-browse"><span>3268</span>人浏览</div>
                <div class="news-share">
                    <img class="share-key" src="../images/1_52.png" alt="">
                    <div class="share-val">分享</div>
                </div>
            </div>
            <div class="news-dec"></div>
        </div>


        <!--上一篇下一篇-->
        <div class="btn-wra">
            <a class="btn" href="##">
                <span class="span1">上一篇</span>
                <span class="span2 pre-title"></span>
            </a>
            <a class="btn" href="##">
                <span class="span1">下一篇</span>
                <span class="span2 next-title"></span>
            </a>

            <a class="back-list" href="news.html">返回列表>></a>
        </div>


        <!--相关新闻-->
        <div class="related-news">
            <div class="related-header">相关新闻</div>
            <div class="related-list">
                <!-- <div class="related-item">
                    <div class="related-title">啊实打实大啊实打啊实打萨达</div>
                    <div class="related-bottom">
                        <div class="related-browse">12人浏览</div>
                        <div class="related-time">2018.12.26</div>
                    </div>
                </div> -->
            </div>
        </div>

    </div>
</div>

<script src="../scripts/lib/jquery-2.2.2.min.js"></script>
<script src="../scripts/lib/config.js"></script>
<script src="../scripts/lib/common.js"></script>
<script src="../scripts/plugins/bscroll.js"></script>
<script src="../scripts/other/newsDetail.js"></script>

</body>
</html>
