<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=640, user-scalable=no">
    <title>生产追溯</title>
    <link rel="stylesheet" href="../scripts/plugins/swiper/swiper-3.3.1.min.css">
    <link rel="stylesheet" href="../css/sczs.css">
</head>
<body>

<div id="container">

    <!--头部-->
    <!--头部-->
    <div class="header">
    	<img class="logo" src="../images/1_1.png" alt="">
    	<div class="nav-wra">
    		<div class="nav-btn">
    			<img class="nav-img old-img" src="../images/1_2.png" alt="">
    			<div class="nav-img new-img">×</div>
    		</div>
    	</div>
    	<div class="nav-list">
    		<a href="sczs.html">
    			<div class="nav-item">
    				<span class="nav-text">追溯系统</span>
    				<span class="nav-right"><img src="../images/7_3.png"></span>
    			</div>
    		</a>
    		<a href="zhyx.html">
    			<div class="nav-item">
    				<span class="nav-text">智慧营销</span>
    				<span class="nav-right"><img src="../images/7_3.png"></span>
    			</div>
    		</a>
    		
    		<a href="caseList.html">
    			<div class="nav-item">
    				<span class="nav-text">客户案例</span>
    				<span class="nav-right"><img src="../images/7_3.png"></span>
    			</div>
    		</a>
    		
    		<a href="solution.html">
    			<div class="nav-item">
    				<span class="nav-text">解决方案</span>
    				<span class="nav-right"><img src="../images/7_3.png"></span>
    			</div>
    		</a>
    		
    		<a href="news.html">
    			<div class="nav-item">
    				<span class="nav-text">新闻资讯</span>
    				<span class="nav-right"><img src="../images/7_3.png"></span>
    			</div>
    		</a>
    		
    		<a href="aboutUs.html">
    			<div class="nav-item">
    				<span class="nav-text">关于我们</span>
    				<span class="nav-right"><img src="../images/7_3.png"></span>
    			</div>
    		</a>
    	
    	</div>
    </div>

    <!--主体-->
    <div class="content">
		<div class="content-banner">
			<img src="../images/2_1.png" />
			<!-- <img src="../images/2_29.png" />
			<img src="../images/2_47.png" /> -->
		</div>
		
		<div class="content-nav">
			<ul>
				<li><a href="ewmzs.html"><img src="../images/2_2.png" >二维码追溯</a></li>
				<li><a href="sczs.html"><img src="../images/2_5.png" >生产追溯系统</a></li>
				<li><a href="qdlt.html"><img src="../images/2_6.png" >渠道流通管理</a></li>
				<li><a href="fch.html"><img src="../images/2_8.png" >防窜货</a></li>
			</ul>
		</div>

		<div class="info info-one">
			<div class="content-one">
				<div class="content-one-img">
					<img src="../images/2_10.png" >
				</div>
				<div class="content-one-text">
					<div class="item">原材料信息管理</div>
					<div class="item">产线改造</div>
					<div class="item">生产数据采集</div>
					<div class="item">品箱垛数据关联</div>
					<div class="item">产品召回</div>
					<div class="item">批次追踪</div>
					<div class="item">终端质量反馈</div>
					<div class="item">产品出入库</div>

				</div>
			</div>

			<div class="content-two">
				<div class="content-two-header">
					<img src="../images/2_11.png" >
				</div>
				<div class="content-two-img">
					<ul>
						<li><img src="../images/2_12.png" ></li>
						<li><img src="../images/2_13.png" ></li>
						<li><img src="../images/2_14.png" ></li>
						<li><img src="../images/2_15.png" ></li>
						<li><img src="../images/2_16.png" ></li>
						<li><img src="../images/2_17.png" ></li>
					</ul>
				</div>
			</div>

			<div class="content-three">
				<div class="content-three-header">
					<img src="../images/2_18.png" >
					<img src="../images/2_19.png" >
				</div>
				<div class="content-three-img">
					<img src="../images/2_20.png" >
				</div>
			</div>

			<div class="content-four">
				<div class="content-four-header">
					<img src="../images/2_21.png" >
				</div>
				<div class="content-four-img">
					<img src="../images/2_22.png" >
				</div>

			</div>

			<div class="content-five">

				<div class="content-five-header">
					<img src="../images/2_23.png" >
				</div>

				<div class="content-five-img">
					<img src="../images/2_24.png" >
				</div>

			</div>

			<div class="content-six">
				<div class="content-six-header">
					<img src="../images/2_25.png" >
				</div>

				<div class="content-six-img">
					<img src="../images/2_26.png" >
				</div>
				<div class="content-six-con">
					<ul>
						<li><span>当产品发生问题时，为召回提供精确的数据</span></li>
						<li><span>在生产过程中，避免问题重现性</span></li>
						<li><span>发生问题，为责任追究提供准确的依据</span></li>
						<li><span>通过采集的信息，做多维度数据分析报表为生产计划打下数据基础</span></li>
						<li><span>通用性原则，适合各行业的生产制造企业管理</span></li>
						<li><span>可拓展性：留有开发接口，可信息交互</span></li>
						<li><span>可移植性：充分考虑软件的模块的独立性，方便以后可以按要求进行模块间无缝链接</span></li>
					</ul>

				</div>
			</div>

			<div class="footer">
				<div class="footer-header">
					<img src="../images/2_27.png" >
				</div>
				<div class="footer-con">
					质检结果可形成:外购质量报表、外协质量报表、退货质量报表、<br>返修质量报表、报废统计报表等企业所关心的统计分析数据
				</div>

				<div class="footer-img">
					<img src="../images/2_28.png" >
				</div>

			</div>

		</div>
						
    </div>
</div>

<script src="../scripts/lib/jquery-2.2.2.min.js"></script>
<script src="../scripts/lib/config.js"></script>
<script src="../scripts/lib/common.js"></script>
<script src="../scripts/plugins/swiper/swiper-3.3.1.jquery.min.js"></script>
<script src="../scripts/other/sczs.js"></script>

</body>
</html>

