<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=640, user-scalable=no">
		<title>解决方案</title>
		<link rel="stylesheet" href="../css/solution.css">
	</head>
	<body>
		<div id="container">

			<!--头部-->
			<!--头部-->
			<div class="header">
				<img class="logo" src="../images/1_1.png" alt="">
				<div class="nav-wra">
					<div class="nav-btn">
						<img class="nav-img old-img" src="../images/1_2.png" alt="">
						<div class="nav-img new-img">×</div>
					</div>
				</div>
				<div class="nav-list">
					<a href="sczs.html">
						<div class="nav-item">
							<span class="nav-text">追溯系统</span>
							<span class="nav-right"><img src="../images/7_3.png"></span>
						</div>
					</a>
					<a href="zhyx.html">
						<div class="nav-item">
							<span class="nav-text">智慧营销</span>
							<span class="nav-right"><img src="../images/7_3.png"></span>
						</div>
					</a>
					
					<a href="caseList.html">
						<div class="nav-item">
							<span class="nav-text">客户案例</span>
							<span class="nav-right"><img src="../images/7_3.png"></span>
						</div>
					</a>
					
					<a href="solution.html">
						<div class="nav-item">
							<span class="nav-text">解决方案</span>
							<span class="nav-right"><img src="../images/7_3.png"></span>
						</div>
					</a>
					
					<a href="news.html">
						<div class="nav-item">
							<span class="nav-text">新闻资讯</span>
							<span class="nav-right"><img src="../images/7_3.png"></span>
						</div>
					</a>
					
					<a href="aboutUs.html">
						<div class="nav-item">
							<span class="nav-text">关于我们</span>
							<span class="nav-right"><img src="../images/7_3.png"></span>
						</div>
					</a>
				
				</div>
			</div>

			<div class="content">
				<div class="banner">
					<img class="banner-img" src="../images/5_1.png">
					<div class="banner-content">
						<div class="banner-title">农资行业解决方案</div>
						<div class="banner-text">农业种植 - 生产加工 - 质检包装 - 出入库 - 经销商流通 - 消费溯源<br> - 营销一体化解决方案</div>
					</div>
				</div>
	
				<!-- 母婴 -->
				<div class="module module-1">
					<!-- 切换icon图标集 -->
					<div class="toggle-icon-wrap">
						<div class="icon-wrap">
							<img class="icon" src="../images/5_9.png">
							<div class="icon-text">母婴行业</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_12.png">
							<div class="icon-text">健康医疗</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_14.png">
							<div class="icon-text">饮料烟酒</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_16.png">
							<div class="icon-text">工业制造</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_18.png">
							<div class="icon-text">农产品</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_20.png">
							<div class="icon-text">装饰装修</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_22.png">
							<div class="icon-text">休闲食品</div>
						</div>
					</div>
					
					<!-- 行业政策要求 -->
					<div class="industry-policy">
						<div class="title-wrap"><img class="title-icon" src="../images/5_23.png">行业政策要求</div>
					
						<p class="policy-text">1、母婴日用品、母婴食品、母婴保健品。婴幼儿用的东西消费者的购买态度更加谨慎，对质量和品牌的要求更加强烈</p>
						<p class="policy-text">2、2016年国家二胎政策放开看似形势大好的母婴行业，实则大部分的母婴品牌的实质问题还没得到解决。母婴行业正在面临巨大的挑战，品牌商要想在母婴行业立足还要从质量监控、保障下手</p>
						<p class="policy-text">3、国内婴幼儿用品质量安全问题，让众多顾客惊慌失措。特别是国内奶粉问题，从“三聚氰胺”丑闻事件曝出之后，国内就频繁被爆出一些母婴产品质量的问题，导致许多消费者对国内奶粉丧失信心，迫不得已从国外购置高价的奶粉，国际市场的竞争力冲击</p>
					</div>
					
					<!-- 行业需求 -->
					<div class="industry-demand">
					
						<img class="con-left" src="../images/5_25.png">
					
						<div class="con-right">
							<div class="right-title">
								<img class="req-icon" src="../images/5_24.png">
								<span>行业需求</span>
							</div>
					
							<ul class="right-info">
								<li>品牌众多大品牌市场占有率极高中小品牌突出成难点</li>
								<li>国内品牌质量管理系统未成型丑闻频发消费者信任危机</li>
								<li>渠道结构多级化物流追踪链复杂</li>
								<li>互联网电商冲击，品牌商和代理商的问题是如何将自身的业务与新业务结合的问题</li>
								<li>单品产量大生产线自动化程度高、线速快对产品追溯码加载流程要求较高</li>
								<li>出库数量大，物流操作压力重</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- 健康医疗 -->
				<div class="module module-2">
					<!-- 切换icon图标集 -->
					<div class="toggle-icon-wrap">
						<div class="icon-wrap">
							<img class="icon" src="../images/5_10.png">
							<div class="icon-text">母婴行业</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_11.png">
							<div class="icon-text">健康医疗</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_14.png">
							<div class="icon-text">饮料烟酒</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_16.png">
							<div class="icon-text">工业制造</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_18.png">
							<div class="icon-text">农产品</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_20.png">
							<div class="icon-text">装饰装修</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_22.png">
							<div class="icon-text">休闲食品</div>
						</div>
					</div>
					
					<!-- 行业政策要求 -->
					<div class="industry-policy">
						<div class="title-wrap"><img class="title-icon" src="../images/5_23.png">行业政策要求</div>
					
						<p class="policy-text">《国家食品药品安全“十一五”规划》将加快信息化建设作为保障人民群众健康安全，提升监管能力建设的重要内容。党中央、国务院对药品监管信息化建设提出了明确要求，中央领导多次在不同场合指示，要切实加强药品研制、生产、流通、使用全过程的监管，加快信息化建设。同时企业需要有效的防伪管理系统，遏制假冒伪劣侵害，保护企业品牌和市场；窜货现象也冲击着整个渠道体系，吞噬市场拓展成果，需要有效的物流追踪和窜货监管手段；最后，随着行业竞争的日趋激烈，急需信息化的促销管理工具，提高销量，收集消费者信息，获取市场优势。</p>		
					</div>
					
					<!-- 行业需求 -->
					<div class="industry-demand">
					
						<img class="con-left" src="../images/5_25.png">
					
						<div class="con-right">
							<div class="right-title">
								<img class="req-icon" src="../images/5_24.png">
								<span>行业需求</span>
							</div>
					
							<ul class="right-info">
								<li>货品种类多拣货发货错漏严重</li>
								<li>成品产品流通追溯难</li>
								<li>经销商订单追踪难</li>
								<li>产品积压在渠道环节，造成销售预测困难</li>
								<li>供应商管理难度大医疗器械行业原材料多</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- 饮料烟酒 -->
				<div class="module module-3">
					<!-- 切换icon图标集 -->
					<div class="toggle-icon-wrap">
						<div class="icon-wrap">
							<img class="icon" src="../images/5_10.png">
							<div class="icon-text">母婴行业</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_12.png">
							<div class="icon-text">健康医疗</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_13.png">
							<div class="icon-text">饮料烟酒</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_16.png">
							<div class="icon-text">工业制造</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_18.png">
							<div class="icon-text">农产品</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_20.png">
							<div class="icon-text">装饰装修</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_22.png">
							<div class="icon-text">休闲食品</div>
						</div>
					</div>
					
					<!-- 行业政策要求 -->
					<div class="industry-policy">
						<div class="title-wrap"><img class="title-icon" src="../images/5_23.png">行业政策要求</div>
					
						<p class="policy-text">2010年9月在遵义召开的酒类流通随附单电子化试点工作会上，商务部明确提出利用互联网和物联网技术，整合生产、流通信息，推进来源可查询、去向可溯源、责任可追究的酒类流通溯源管理体系建设。2011年3月国务院发布《2011年食品安全重点工作安排》，明确指出加强酒类综合治理，严格落实白酒和葡萄酒质量安全溯源制度、进货查验和记录制度，推进酒类电子追溯系统建设。同年6月国务院食安办颁布《进一步加强酒类质量安全工作的通知》，再次明确了以白酒和葡萄酒为重点，开展酒类电子追溯体系建设试点工作。2012年7月，国务院办公厅印发了《国家食品安全监管体系“十二五”规划》，明确规定“酒类产品电子追溯系统覆盖试点产品生产经营单位”。</p>		
					</div>
					
					<!-- 行业需求 -->
					<div class="industry-demand">
					
						<img class="con-left" src="../images/5_25.png">
					
						<div class="con-right">
							<div class="right-title">
								<img class="req-icon" src="../images/5_24.png">
								<span>行业需求</span>
							</div>
					
							<ul class="right-info">
								<li>生产局限大：区域订单生产长期急产空产导致人工浪费、设备损耗大</li>
								<li>库存压力大：时常断货资金利用低效无法快速响应</li>
								<li>窜货频发：市场失序导致经销商与消费者对品牌失去信心</li>
								<li>营销附加成本高：受限经销商，活动难落地</li>
								<li>营销手段单一：互动缺乏途径，品牌忠诚度较低，无法对消费者行为进行分析</li>
								<li>获取用户数据困难， 无法了解市场需求、精准营销</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- 工业制造 -->
				<div class="module module-4">
					<!-- 切换icon图标集 -->
					<div class="toggle-icon-wrap">
						<div class="icon-wrap">
							<img class="icon" src="../images/5_10.png">
							<div class="icon-text">母婴行业</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_12.png">
							<div class="icon-text">健康医疗</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_14.png">
							<div class="icon-text">饮料烟酒</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_15.png">
							<div class="icon-text">工业制造</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_18.png">
							<div class="icon-text">农产品</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_20.png">
							<div class="icon-text">装饰装修</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_22.png">
							<div class="icon-text">休闲食品</div>
						</div>
					</div>
					
					<!-- 行业政策要求 -->
					<div class="industry-policy">
						<div class="title-wrap"><img class="title-icon" src="../images/5_23.png">行业政策要求</div>
					
						<p class="policy-text">国内制造行业普遍是传统的人工制造后进行管理，出现问题无法追踪到产品批次及时召回产品而导致企业品牌信誉受损</p>	
						<p class="policy-text">国家政策要求特种设备、制造行业推进产品追溯系统，出现问题，政府和企业可及时有效的解决问题</p>	
					</div>
					
					<!-- 行业需求 -->
					<div class="industry-demand">
					
						<img class="con-left" src="../images/5_25.png">
					
						<div class="con-right">
							<div class="right-title">
								<img class="req-icon" src="../images/5_24.png">
								<span>行业需求</span>
							</div>
					
							<ul class="right-info">
								<li>生产加工过程无纸化</li>
								<li>内部生产环节可追踪</li>
								<li>出现问题可对批次产品负责人可追责</li>
								<li>出现问题产品可及时召回批次产品</li>
								<li>平台辅助管理人员监管</li>
								<li>多维度产品信息查询</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- 农产品 -->
				<div class="module module-5">
					<!-- 切换icon图标集 -->
					<div class="toggle-icon-wrap">
						<div class="icon-wrap">
							<img class="icon" src="../images/5_10.png">
							<div class="icon-text">母婴行业</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_12.png">
							<div class="icon-text">健康医疗</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_14.png">
							<div class="icon-text">饮料烟酒</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_16.png">
							<div class="icon-text">工业制造</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_17.png">
							<div class="icon-text">农产品</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_20.png">
							<div class="icon-text">装饰装修</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_22.png">
							<div class="icon-text">休闲食品</div>
						</div>
					</div>
					
					<!-- 行业政策要求 -->
					<div class="industry-policy">
						<div class="title-wrap"><img class="title-icon" src="../images/5_23.png">行业政策要求</div>
					
						<p class="policy-text">《国务院办公厅关于加快推进重要产品追溯体系建设的意见》（国办发〔2015〕95号）等重要文件要求，要注重产品追溯实效，力争到2020年，建成覆盖全国、统一开放、先进适用、协同运作的重要产品信息追溯体系。</p>
						<p class="policy-text">农产品质量安全关系到人民群众切身利益,提高农产品质量安全水平,对于加快农业增长方式转变和保障广大城乡居民的消费安全意义重大。农产品质量安全管理需要建立长效机制,做到来源可溯，去向可追，流通可证，过程可控，责任可纠最后达到隐患可除。</p>
					</div>
					
					<!-- 行业需求 -->
					<div class="industry-demand">
					
						<img class="con-left" src="../images/5_25.png">
					
						<div class="con-right">
							<div class="right-title">
								<img class="req-icon" src="../images/5_24.png">
								<span>行业需求</span>
							</div>
					
							<ul class="right-info">
								<li>产品种植环境复杂，数据采集困难</li>
								<li>产品种类繁多，追溯内容不一</li>
								<li>农户文化水平不一，实时操作困难</li>
								<li>产品流通渠道多，监管困难</li>
								<li>产品来源复杂，质检困难</li>
								<li>食品安全事故频发，信任困难</li>
								<li>追溯主体难确立，责任追究</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- 装饰装修 -->
				<div class="module module-6">
					<!-- 切换icon图标集 -->
					<div class="toggle-icon-wrap">
						<div class="icon-wrap">
							<img class="icon" src="../images/5_10.png">
							<div class="icon-text">母婴行业</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_12.png">
							<div class="icon-text">健康医疗</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_14.png">
							<div class="icon-text">饮料烟酒</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_16.png">
							<div class="icon-text">工业制造</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_18.png">
							<div class="icon-text">农产品</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_19.png">
							<div class="icon-text">装饰装修</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_22.png">
							<div class="icon-text">休闲食品</div>
						</div>
					</div>
					
					<!-- 行业政策要求 -->
					<div class="industry-policy">
						<div class="title-wrap"><img class="title-icon" src="../images/5_23.png">行业政策要求</div>
					
						<p class="policy-text">装修装饰行业解决方案家装行业假冒伪劣产品已经成为消费者最头痛的事情，品牌产品真假难辨，价格不一，消费者无法做出正确选择；近年来政府一直在筹建建材行业大数据中心，从源头进行追溯，从渠道进行监管，从而将行业内的假冒伪劣产品剔除，保障消费者利益；</p>
						<p class="policy-text">作为最传统的行业之一，家装行业在自身的营销模式上一直寻求突破，拜托现有营销模式的限制；现大量的家装行业企业已经开始使用一物一码营销工具，并且取得了不错成效</p>
					</div>
					
					<!-- 行业需求 -->
					<div class="industry-demand">
					
						<img class="con-left" src="../images/5_25.png">
					
						<div class="con-right">
							<div class="right-title">
								<img class="req-icon" src="../images/5_24.png">
								<span>行业需求</span>
							</div>
					
							<ul class="right-info">
								<li>行业没有有效监管，假冒伪劣产品层出不穷</li>
								<li>产品质量参差不齐，消费者没有保障</li>
								<li>渠道窜货严重，没有有效监管</li>
								<li>营销模式单一，无法推动市场</li>
								<li>使用终端没有互动，品牌价值难以推广</li>
							</ul>
						</div>
					</div>
				</div>
				
				<!-- 休闲食品 -->
				<div class="module module-7">
					<!-- 切换icon图标集 -->
					<div class="toggle-icon-wrap">
						<div class="icon-wrap">
							<img class="icon" src="../images/5_10.png">
							<div class="icon-text">母婴行业</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_12.png">
							<div class="icon-text">健康医疗</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_14.png">
							<div class="icon-text">饮料烟酒</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_16.png">
							<div class="icon-text">工业制造</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_18.png">
							<div class="icon-text">农产品</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_20.png">
							<div class="icon-text">装饰装修</div>
						</div>
						<div class="icon-wrap">
							<img class="icon" src="../images/5_21.png">
							<div class="icon-text">休闲食品</div>
						</div>
					</div>
					
					<!-- 行业政策要求 -->
					<div class="industry-policy">
						<div class="title-wrap"><img class="title-icon" src="../images/5_23.png">行业政策要求</div>
					
						<p class="policy-text">国务院办公厅《关于加快推进重要产品追溯体系建设的意见》。《意见》明确了当前及今后一段时期重点推进的七大类产品，即食用农产品、食品、药品、农业生产资料、特种设备、危险品、稀土产品等，明确了每类产品追溯体系建设的具体任务与要求。</p>
					</div>
					
					<!-- 行业需求 -->
					<div class="industry-demand">
					
						<img class="con-left" src="../images/5_25.png">
					
						<div class="con-right">
							<div class="right-title">
								<img class="req-icon" src="../images/5_24.png">
								<span>行业需求</span>
							</div>
					
							<ul class="right-info">
								<li>分销渠道数量多分布广掌握销售终端信息困难</li>
								<li>库存统计不准确整体库存大积压和短缺现象并存</li>
								<li>保质期及批次管理难度大，无法落实“先进先出”</li>
								<li>竞品多渠道忠诚度不够，单一营销拉不动渠道积极性</li>
								<li>产品种类多，增加各品类产品复购难度大</li>
							</ul>
						</div>
					</div>
				</div>
	
			</div>
		</div>

		<script src="../scripts/lib/jquery-2.2.2.min.js"></script>
		<script src="../scripts/lib/common.js"></script>
		<script src="../scripts/other/solution.js"></script>
	</body>
</html>
